/*header .banner{
	background-color: #efe7bf;
}

#banner_back{
	position: absolute;
	/*height: 100px;*/
/*
}

#banner_logo{
	position: relative;
	width: 40%;
	clear:both;
	margin-bottom: 9px;

}

.test{
	border: 1px solid blue;
	position : relative;
	display: inline-block;

}

.slc_40{
	width:40%;
}

.slc_form_login{
	width:50%;
}

/************ Truc a serge **********************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



/************Fond d'écran de la banière***********/
header .banner
{
	background-image: url("../img/header.png");
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 1170px;
}

.logo
{
	width: 300px;
	margin-left: 30px;
	margin-top: 15px;
	display: inline-block;
	vertical-align: top;
}

.base-line
{
	display: inline-block;
	position: absolute;
	right: 750px;
}

.compte
{
	font-family:DJB My Boyfriends Handwriting ;
	font-weight: bold;
	font-size:2.5em;
	color: #d74b77;
	display: inline-block;
	position: absolute;
	right: 305px;
    top: 40px;
}

.sous_compte{
	font-size: 1em;
}
/*************display de quelques éléments************/
#header_logo
{
	display: none;
}

legend

{
	display: none;
}

#search_block_top
{
	display: none;
}


/*******************fin des display************************/


.button /*****bouton ok pour se connecter*/
{
	font-family: Calibri;
	color:#432918;
	background-color: #df7491;
	border: 1px solid #432918;
	position: absolute;
	right: 57px;
    top: 43px;

}

.box /*****block de connexion****/
{
	width: 500px;
	position: absolute;
	right: 160px;
    top: 80px;


    background-color:#efe7bf ;
	color:#432918;
	border:2px solid #432918 ;
	font-family: Calibri;
	font-style: ;
	font-size: 16px;
}

.lab1 /*****block email pour se connecter****/
{
	display: inline-block;
}

.lab2 /*****block mot de passe pour se connecter****/
{
	display: inline-block;
}


nav
{
	display: inline-block;
	height: 40px;
	margin-top: 35px;
	margin-left: 12px;


}

nav ul
{
    list-style-type: none;
	
}


nav li
{
	display: inline-block;
    background-color:#432918;
    height: 30px;
    vertical-align: bottom;
    width: 160px;
    padding: 5px;
    text-align: center;	
}


nav li a
{
	text-decoration: none;
	color:#efe7bf;
	text-align: center;
	font-size: 1.2em;

}

.accueil
{
	background-image: url("../img/home.png");
}

.panier
{
	background-image: url("../img/panier-menu.png");
}








/*.page-subheading
{
	color: #d74b77;
}


.contenu-form
{
	height: 150px;
}

.form-group
{
	height: 40px;
}

.mp_oublie
{
	height: 25px;
	padding: 0px;
}*/

/*form
{
	height: 230px;
	margin: 0px;
	width: 300px;
	display: inline-block;
	position: absolute;
	right: 250px;

}

legend
{
	margin: 0px;
}*/

/*fieldset
{
	background-color:#efe7bf ;
	color:#432918;
	border:2px solid #432918 ;
	font-family: Calibri;
	font-style: ;
	font-size: 16px;
	
}

fieldset
{
	height: 230px;
	width: 300px;
}*/